
.portfolio-container {
    width: 100%;
    height: 100vh;
    background: rgb(16, 15, 19);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 868px) {
    .portfolio-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    
}
.portfolio-div {
    background: #3A3042;
    max-width: 100%;
    height: 20rem;
    width: 60rem;
}

img {
    margin-top: 2rem;
    margin-left: 0rem;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}