@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');

.header {
    margin-top: 100px;

    background: red;
    height: 14rem;
    display: flex;
    flex-direction: row;
    // align-items: center;
    color: white;
    font-size: 5rem;
    font-family: Aldrich;
    justify-content: center;
    p {
        margin-top: 40px;
    }
}

