@import url('https://fonts.googleapis.com/css?family=BenchNine&display=swap');

.header-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-left: 100px;
    margin-top: 100px;
    width: 100px;
    height: 100px;
    &:hover {
      transform: rotate(720deg) scale(.9);
      transition: all 4s;
    }
  }
  .img-div{
    margin-right: 100px;
   
  }
  // * {
  //   color: white;
  // }
}

.header {
    margin-top: 240px;
    background: rgb(16, 15, 19);
    height: 14rem;
    display: flex;
    // flex-direction: row;
    // align-items: center;
    color: #6945c4;
    font-size: 13rem;
    font-family: BenchNine;
    justify-content: center;
    margin-bottom: -150px;

    span {
        position: relative;
        font-size: 13rem;
        &:hover {
            transition: color 2500ms;
            transition-delay: 250ms;
            color: white;
            text-shadow: gold;
            text-shadow: 2px 2px 7px #00CE88;
        }
      }
      span:after {
        position: absolute;
        content: attr(content);
        top: 150px;
        left: 0;
        -webkit-transition: all 750ms;
        -moz-transition: all 750ms;
        -o-transition: all 750ms;
        transition: all 750ms;
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
      }
      // span:hover:after {
      //   -webkit-transform: skew(100deg, 25deg);
      //   -ms-transform: skew(100deg, 25deg);
      //   transform: skew(-20deg, 25deg);
      //   text-shadow: 2px 2px 7px #00CE88;

      // }
   
}

// @media only screen and (max-width: 868px) {
//   .portfolio-container {
//       max-width: 100%;
//       display: flex;
//       flex-direction: column;
      
//   }
  
// }
