@import url('https://fonts.googleapis.com/css?family=Unkempt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

.header-container {
   display: flex;
   justify-content: space-around;
   border-bottom: 10px dashed #ff6550;
}


.brand {
    margin-top: 20px;
    display: flex;
    width: 600px;
    flex-flow: column;
}
.brand .intro {
    margin: 0 auto;
    color: black;
    font-family: 'Unkempt', cursive;
    font-size: 2rem;
}

.brand .name {
    margin: 0 auto;
    color: black;
    font-family: 'Rye', cursive;
    font-size: 2rem;
}
.social {
    display: flex;
    justify-content: space-evenly;
}
.social img {
    margin-top: 2rem;
    margin-right: 2rem;
    width: 80px;
    height: 80px;
}