@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto; 


}

.nav-main {
    display: flex;
    flex-direction: column;
}




.nav {
    display: flex;
    width: 100%;
    color: white; 
    font-family: Aldrich;
    font-size: 2.5rem;  
    
}


.menu-span {
    margin-left: 20px;
    width: 200px;
    padding: 18px;
    background-color: #041C37;
    a {
    text-decoration: none;
    cursor: -webkit-grabbing; 
    cursor: grabbing;
    }
    a:visited {
        text-decoration: none;
        color: white;
    }

}

.about {
    color: white;
    width: 70rem;
    max-width: 100%;
    height: 40rem;;
    background:#041C37;
    -webkit-box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 17px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 17px 0px rgba(50, 50, 50, 0.75);   
}