@import url('https://fonts.googleapis.com/css?family=Unkempt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

.top-container {
   display: flex;
   width: 100%;
   height: 59px;
   justify-content: space-around;
   background: #04395E;
}
@media only screen and (max-width: 868px) {
    .top-container {
        display: block;
    }
}

// Media Queries


